[submodule "attiny/bootloader"]
	path = attiny/bootloader
	url = https://github.com/attachix/ukit-attiny-bootloader.git
[submodule "attiny/firmware"]
	path = attiny/firmware
	url = https://github.com/attachix/ukit-attiny-firmware.git
[submodule "esp8266/lib/Sming"]
	path = esp8266/lib/Sming
	url = https://github.com/SmingHub/Sming.git
